.wrapper {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.actions {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}
